/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; width: 100%;}

body {
  background: #000 url('/img/bg.png') repeat;
  font: 13.34px Oma5, Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  font-family: oma;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; font-family: Oma5; color: #4E3423;}

a         { color: #4c2917; z-index: 40;}
a:visited { color: #3e2213; }
a:hover   { color: #FFF; }
.center {text-align: center; clear:both;}
strong {font-family: Oma2;}

a img {
	vertical-align: middle;
	padding-right: 1%;
}
strong {
	color: #000000;
}

/*****************************************************************************/
/*
/* Font 
/*
/*****************************************************************************/

@font-face{
	font-family:"oma";
	src: url('Font/NeutraText-Bold.otf');
}

@font-face{
	font-family:"oma2";
	src: url('Font/NeutraText-BoldSC.otf');
}

@font-face{
	font-family:"oma3";
	src: url('Font/NeutraTextTF-Book.otf');
}


@font-face{
	font-family:"oma4";
	src: url('Font/NeutraTextTF-LightAlt.otf');
}

@font-face{
	font-family:"oma5";
	src: url('Font/NeutraTextTF-BoldAlt.otf');
}


ul {
  list-style-type: none;
  margin-bottom: 2em;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.info {
	position: relative;
	z-index: 2;
}
.inline {
	display: inline-block;
}
#home {
	padding:0 20%;
}
.huge {
	line-height: 40px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.artistnav button {
	-moz-box-shadow: inset 0px -35px 0px -20px #4c2917;
	-webkit-box-shadow: inset 0px -35px 0px -20px #4c2917;
	box-shadow: inset 0px -35px 0px -20px #4c2917;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9d7534), color-stop(1, #C5A08D) );
	background: -moz-linear-gradient( center top, #9d7534 5%, #4c2917 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d7534', endColorstr='#4c2917');
	background-color: #9d7534;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	border-color: transparent;
	margin-right: 0.4em;
	text-indent: 0px;
	display: inline-block;
	color: #E2C9A2;
	font-family: inherit;
	font-size: 15px;
	font-weight: bold;
	font-style: inherit;
	height: 30px;
	line-height: 28px;
	width: 138px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	text-align: center;
	text-shadow: 1px 2px 11px #3e2213;
}
.artistnav button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c2917), color-stop(1, #9d7534) );
background:-moz-linear-gradient( center top, #4c2917 5%, #9d7534 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c2917', endColorstr='#9d7534');
background-color:#4c2917;
}
.artistnav button:active {
	position:relative;
top:1px;
}
.site {
  font-size: 115%;
  text-align: justify;
  margin: 0 auto;
  line-height: 1.5em;
  width: 100%;

}
h1 {
	font-size: 40px;
	padding-top: 40px;
}
h2 {
	text-decoration: underline;
	font-size: 24px;
	margin-bottom: 1em;
}
h3 {
	font-size: 20px;
	margin: 1% 0;	
}
.headerimg {
	background: #000 url('/img/header-img.png') no-repeat;
	height: 484px;
	background-position: 50% 50%;
	position: relative; 
}
#header {
	width: 100%;
	height: 525px;
}
.navimg {
	background: url('/img/navi.png') no-repeat;
	top: 25px;
	height: 104px;
	position: absolute;
	width: 100%;
	background-position: 50% 50%;
	z-index: 1; 
}
.navholder {
	max-width: 949px;
	margin: 0 auto;
	height: 80px;
	position: relative;
	margin-top: 11px;
	font-family: Oma2;
}	

.navholder ul {
	float: right;
	width: 70%;
	display: table;
	height: 100%;
}
.navholder ul li {
	vertical-align: middle;
	height: 100%;
	display: table-cell;
}
.navholder ul li a{
	text-decoration: none;
	color: #bf8438;
	font-size: 16px;
	font-weight: 600;
}
.navholder a.homelink {
	width: 75px;
	height: 80px;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 180px;
	float: left;	
}

.navholder a:focus{
	color: #965003;
}
.navholder ul li a.active{
	text-decoration: none;
	color: #dfa458;
}

	
#header .countdown_holder_img {
	background: url('/img/aika.png') no-repeat;
	width: 100%;
	background-position: 50% 50%;
        position: relative;
	bottom: 70px;
	height: 221px;
	z-index: 3;
}

#header .countdown_holder {
	max-width: 949px;
	margin: 0 auto;
	display: block;
	
}

.content {
	background: url('/img/content-bg.png') repeat;
	max-width: 949px;
	margin: 0 auto;
	padding:  0 2% 2% 2%;
	margin-bottom: 4%;
	display: block;
	clear: both;
	overflow: auto;
	position: relative;
	top: -14px;
}
.content:after {
	-moz-box-shadow: inset 0 0 10em #000;  
	 -webkit-box-shadow: inset 0 0 10em #000;   
	 box-shadow: inset 0 0 10em #000;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 0;
	 content: "";
}
h1.header {
	text-align: center;
	font-size: 30px;
}
.space {
	display:block;
	height: 50px;
	clear: both;
}
.fourth {
	width: 40%;
}
.sixth {
	width: 60%;
}
.inline {
	display: inline-block;
}
.home .alist{
	width: 43%;
}

#footer .countdown_holder_img {
	background: url('/img/aika.png') no-repeat;
	width: 100%;
	background-position: 50% 50%;
        position: relative;
	bottom: 80px;
	height: 224px;

}

#footer .countdown_holder {
	max-width: 949px;
	margin: 0 auto;
	display: block;
	
}
#footer {
	position: relative;
	height: 150px;
	top: -10px;
}
.shadow {
	position: relative;
	z-index: 1;
	top: 123px;
	width: 100%;
	height: 55px;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
/*****************************************************************************/
/*
/* Artistit 
/*
/*****************************************************************************/
#header_artist {
	height: 120px;
}
#artist {
	width: 70%;
	display: inline-block;
	float: right;
	position: relative;
	z-index: 99;
}
.alist h2{
	color: #4c2917;
	text-decoration:none;
}

.artist_holder{
	width: 100%;
	display: block;
	margin-top: 1em;
	z-index: 60;
}
.artist_holder ul{
	padding-right: 10%;
}
.alist {
	width: 22%;
	position: relative;
 	background:url('/img/separator_vertical.png') no-repeat; 
	background-position: right;
	margin-right: 3%;
	padding-right: 4%;
	text-align: right;
	z-index: 30;
}

.left {
	float: left;
}
.right {
	float: right;
}

.artist_name {
}


.ryanelliot {
	background: url('/img/artisti_nimet/ryanelliot.png') no-repeat;
	height: 100%;
}

.autopsy {
	background: url('/img/artisti_nimet/autopsy.png') no-repeat;
	height: 100%;
}
.bonerm {
	background: url('/img/artisti_nimet/bonerm.png') no-repeat;
	height: 100%;
}
.domandroland {
	background: url('/img/artisti_nimet/domandroland.png') no-repeat;
	height: 100%;
}
.indigo {
	background: url('/img/artisti_nimet/indigo.png') no-repeat;
	height: 100%;
}
.mra {
	background: url('/img/artisti_nimet/mra.png') no-repeat;
	height: 100%;
}
.pacou {
	background: url('/img/artisti_nimet/pacou.png') no-repeat;
	height: 100%;
}
.soukie{
	background: url('/img/artisti_nimet/soukie.png') no-repeat;
	height: 100%;
}


/*****************************************************************************/
/*
/* Info 
/*
/*****************************************************************************/

.info .poster {
	width: 30%;
	display: inline-block;
	margin-left: 10%;
	float: left
}
.info .poster_info {
	width: 50%;
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
	float: right;
}
.info h1 {
	clear:both;
}

.info img {
}
.info .img_container {
	width: 50%;
	margin: 0 auto;
	
}

/*
*
*	Gallery
*
*/
.gallery-item {
float: left;
margin-top: 0;
text-align: center;
width: 33%;
}

.cboxPhoto {
	margin: auto;
border: 0;
display: block;
}
